<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
      Least privilege: onderstaande permissions worden pas gedeclareerd zodra
      ze echt gebruikt worden (briefing sectie 6.3). Picture-in-Picture zelf
      vereist GEEN permission. De foreground-service-permissions komen pas met
      een echte media-notificatieservice (latere uitbreiding):
        FOREGROUND_SERVICE, FOREGROUND_SERVICE_MEDIA_PLAYBACK,
        POST_NOTIFICATIONS  (notificatie-speler / achtergrondaudio)
        Fase 5: REQUEST_INSTALL_PACKAGES  (in-app updateflow)
    -->


    <application
        android:name=".StreamFixApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StreamFix"
        tools:targetApi="35">

        <!--
          Sentry auto-init uit: anders draait SentryInitProvider bij opstart
          en crasht zonder DSN. StreamFixApplication doet de gecontroleerde
          init en slaat Sentry over zolang de DSN leeg is.
        -->
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|uiMode"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.StreamFix.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
